body {
    max-width: 720px;
    background-color: #33658a;
    font-family: 'Rubik', sans-serif;
    padding: 5px 25px;
    font-size: 18px;
    margin: auto;
    color: white;
  }
  
  h1,h2,h3,h4,h5,h6 {
    background-color: #461339;
    color: #fafaff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    border-radius: 4px;
  }
  h1 {
    padding: 0.8em;
    border-radius: 0.3rem;
  }
  .portal {
    font-size: 20px;
    color: #fafaff;
  }
  header {
    align-items: center;
  }
  .banner-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    display: block;
    
  }
  .headline-1 {
    margin: 40px 40px;
    padding: 8px;
    text-align: center;
  }
  .footer {
    background-color: #461339;
    color: #fafaff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    border-radius: 4px;
  }

